/* Inside static/styles.css (Spotify Theme) */

body {
  background-color: #191414; /* Spotify's dark background */
  color: #FFFFFF; /* White text */
  font-family: sans-serif; 
}

h1 {
  color: #1DB954; /* Spotify's iconic green */
  text-align: center; 
  padding-top: 30px; /* Add a little space at the top */
}

p {
  text-align: center; 
  font-size: 1.1em; 
  color: #B3B3B3; /* A slightly softer grey for paragraphs */
}