<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sasta Spotipy - Home</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body>
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Sasta Spotipy Logo">
    
    <h1>Sasta Spotipy: Your Music Hub</h1>
    <p>Millions of tracks. Ad-free listening (mostly 😉). Start exploring now!</p>
    </body>
</html>