<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sasta Spotipy - Home</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body>

    <header>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Sasta Spotipy Logo" class="header-logo"> 
        
        <nav>
            <a href="{{ url_for('main.home_page') }}">Home</a> 
            <a href="{{ url_for('main.about_page') }}">About</a>
        </nav>
    </header>
    <h1>Sasta Spotipy: Your Music Hub</h1>
    <p>Millions of tracks. Ad-free listening (mostly 😉). Start exploring now!</p>
    
</body>
</html>